/* /public/css/style.css */
/* Basic styling to confirm public folder works */

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: #333;
}

p {
  text-align: center;
  color: #555;
}
